.btn {
  padding: 6px 12px;
  border-radius: 4px;
  background: $primary;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;

  &--white {
    background: $white;
    color: $primary;
  }

  &:hover {

  }
}
